body{
    margin: 0px;
    width: 100%;
}
.content{
    display: flex;
    width: 100%;
}

.navmain{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navfirst{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navfinal{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container_only_horary{
    background: linear-gradient(to right,  #00acee 0%, #9be3ff 100%);
    max-width: 1100px;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    overflow-y: scroll;
    max-height: 600px;
    flex-direction: column;
}

.add_hour{
    background: linear-gradient(to right,  #00acee 0%, #9be3ff 100%);
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}

.hour_input_text{
    display: flex;
    width: 100%;
}

.hour_input_date{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
}

.container_only_horary h2{
    display: none;
}

.container_only_horary table{
    background-color: whitesmoke;
}

.rojo {
    background-color: red;
    color: white;
}

.form_search{
    display: flex;
    max-width: 400px;
    background: linear-gradient(to right,  #00acee 0%, #9be3ff 100%);
    margin-left: 10%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hour_search h2{
    padding-right: 1%;
    margin-right: 2%;
}
.hour_search{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 4%;
}
.hour_search input{
    min-width: 100px;
}
/* Estilos para la tabla */
#horarioTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin: 10px;
}
#horarioTable th {
    width: 80px;
    background-color: #00acee;
    border: 1px solid #ddd;
    text-align: center;
}
#horarioTable tr td{
    border: 1px solid;
    padding: 0.01%;
    height: 0.01%;
    text-align: center;
}
#horarioTable .inicial{
    border-top-color: #ddd;
    border-right-color: #ddd;
    border-bottom-color: None;
}
#horarioTable .td_void{
    border: 0px;
    border-right: 1px solid #ddd;
    height: 1px;
}
#horarioTable .td_full{
    border: 1px solid #ddd;
    background-color:blue;
    color: aliceblue;
}
#horarioTable .final{
    border-top-color: None;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
}
#horarioTable .hour_part{
    border: 1px solid #ddd;
    padding: 0;
    height: 30px;
    text-align: center;
}
.flash_card{
    display: flex;
    width: 40%;
    height: 5%;
    border: 2px solid black;
    color: white;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    border-radius: 5px;
}
.flash_card h4{
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}
.Error{
    background-color: red;
}
.Logrado{
    background-color: rgb(0, 121, 26);
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.500);
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal-conteiner{
    margin: auto;
    margin-top: 5%;
    max-width: 600px;
    min-height: 350px;
    max-height: 90%;
    background-color: #ddd;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}
.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}
.tittle-conteiner{
    background-color: #00acee;
    padding: 1em 2.5em;
    border-radius: 25px;
}
.infomodal{
    padding: 0.5em 2.0em;
}
.container-btn-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-modal{
    margin-left: 20px;
    margin-right: 20px;
}
.eliminate-btn{
    text-align: center;
}