body{
    margin: 0px;
    width: 100%;
}
.content{
    display: flex;
    width: 100%;
}

.navmain{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navfirst{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navfinal{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container_only_horary{
    background: linear-gradient(to right,  #00acee 0%, #9be3ff 100%);
    max-width: 900px;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    overflow-y: scroll;
    max-height: 450px;
    flex-direction: column;
}

.container_only_horary h2{
    display: none;
}

.container_only_horary table{
    background-color: whitesmoke;
}

.rojo {
    background-color: red;
    color: white;
}

/* Estilos para la tabla */
#horarioTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#horarioTable th, #horarioTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}