<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/busquedahorario.css">
    <script src="../static/js/buscarhorario.js"></script>
    <title>ScheduleWise</title>
</head>
<body>
    <header class="head">
        <h1>SCHEDULEWISE</h1>
        <nav class="nav">
            <a class="btn" href="/logout">CERRAR SESION</a>
        </nav>
    </header>
    <div class="information">
        <form method="POST" action="/buscarhorario" id="FormularioBusqueda">
            <div class="inputconteiner">
                <label>Título</label>
                <input name="title">
            </div>
            <div class="inputconteiner">   
                <label>Autor</label>
                <input name="autor">
            </div>
            <div class="inputintegrants inputconteiner">
                <label>Integrantes</label>
                <input name="email0">
                <input name="email1">
                <input name="email2">
            </div>
            <div class="buttonsconteiner">
                <button class="btn" type="button" onclick="IrACrear()" type="">CREAR</button>
                <button class="btn" type="submit">BUSCAR</button>
                <a class="btn" href="/interfazbase">ATRAS</a>
            </div>
        </form>
        <div id="InterfazBusqueda">
            <table>
                <thead>
                    <th id="id">N°ro</th>
                    <th id="title">Título</th>
                    <th id="description">Descripcion</th>
                    <th id="autor">Autor</th>
                </thead>
                <tbody>
                    {% for i in range(result_horary|length)%}
                    <tr>
                        <td>{{i+1}}</td>
                        <td><a href="/horario/{{result_horary[i]['id']}}/0">{{result_horary[i]['title']}}</a></td>
                        <td>{{result_horary[i]['description']}}</td>
                        <td>{{result_horary[i]['autor']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form method="POST" action="/crearhorario" style="display: none;" id="InterfazCrear">
            <div class="inputtitle inputconteiner ">
                <label>Título</label>
                <input name="title">
            </div>
            <div class="inputdescripcion inputconteiner">
                <label>Descripción</label>
                <textarea type="text" name="description" style="resize: none;"></textarea>
            </div>
            <div class="buttonsconteiner">
                <button class="btn" type="submit">CREAR</button>
                <button class="btn" type="button" onclick="IrABuscar()">BUSCAR</button>
                <a class="btn" href="/interfazbase">ATRAS</a>
            </div>
        </form>
    </div>
</body>
</html>