<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>ScheduleWise</title>
</head>
<body>
    <header class="head">
        <h1>crear</h1>
        <nav class="nav">
            <a class="btn" href="/logout">CERRAR SESION</a>
        </nav>
    </header>
    </container>
    <div class="container">
        <form class="form" method="POST">
            <h1 class="title">Registrar horario</h1>
            <div class="input-box underline">
                <input placeholder="Enter Title" type="text" name="title">
                <div class="underline"></div>
            </div>
            <div class="input-box underline">
                <input placeholder="Enter Description" type="text" name="description">
                <div class="underline"></div>
            </div>
            <div class="PresentInformation">
                <div class="opciones">
                    <input type="submit" name="" value="Create Account">
                </div>
            </div>

        </form>
</body>
</html>
