<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/horario.css">
    <title>ScheduleWise</title>
</head>
<body>
    <header class="head">
        <h1>SCHEDULEWISE</h1>
        <h1>{{ data.startDate }}</h1>
        <input type="time">
        <input type="date" name="" id="">
        <nav class="nav">
            <a class="btn" href="/interfazbase">SALIR</a>
        </nav>
    </header>
    <container class="content">
        <nav class="navmain" >
            <div class="navfirst">
                <a class="btn" href="/horario">INTEGRANTES</a>
            </div>
            <div class="navfinal">
                <a class="btn btn-anterior" href="/horario">ANTERIOR</a>
                <a class="btn btn-siguiente" href="/horario">SIGUIENTE</a>
            </div>
        </nav>
    </container>
    <div class="PresentInformation">
        <div class="container_only_horary">
            <h2 id="dateFlask"> "{{ data.startDate }}"; </h2>
            <table id="horarioTable" >

            </table>
        </div>
        <div class="add_hour">
            <form method="POST">
                <h1 class="hour_title">Agregar hora</h1>

                <div class="hour_input_text">
                    <input placeholder="Titulo" type="text" name="title">
                </div>
                <div class="hour_input_text">
                    <input placeholder="Descripcion" type="text" name="description">
                </div>
                <div class="hour_input_text">
                    <input placeholder="Horario" type="text" name="horary">
                </div>
                <div class="hour_input_date">
                    <h2>Fecha de inicio:</h2>
                    <input type="date" name="start_date">
                </div>
                <div class="hour_input_date">
                    <h2>Fecha de finalización:</h2>
                    <input type="date" name="final_date">
                </div>
                <div class="button">
                    <a class="btn" href="/crear_hora">Crear hora</a>
                </div>
            </form>
        </div>
    </div>
    </container>

<script src="../static/js/horary.js"></script>
</body>
</html>