<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/horario.css">
    <title>ScheduleWise</title>
</head>
<body>
    <header class="head">
        <h1>SCHEDULEWISE</h1>
        <h1>{{ data.startDate }}</h1>
        <input type="time">
        <input type="date" name="" id="">
        <nav class="nav">
            <a class="btn" href="/interfazbase">SALIR</a>
        </nav>
    </header>
    <container class="content">
        <nav class="navmain" >
            <div class="navfirst">
                <a class="btn" href="/horario">CREAR HORA</a>
                <a class="btn" href="/horario">INTEGRANTES</a>
            </div>
            <div class="navfinal">
                <a class="btn btn-anterior" href="/horario">ANTERIOR</a>
                <a class="btn btn-siguiente" href="/horario">SIGUIENTE</a>
            </div>
        </nav>
    </container>
    <div class="PresentInformation">
        <div class="container_only_horary">
            <h2 id="dateFlask"> "{{ data.startDate }}"; </h2>
            <table id="horarioTable" >

            </table>
        </div>
    </div>
    </container>

<script src="../static/js/horary.js"></script>
</body>
</html>