<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container ">
        <form method="POST">
            <h1 class="title">Login</h1>
            <div class="input-box underline">
                <input placeholder="Enter Your Username" type="email" name="username">
                <div class="underline"></div>
            </div>
            <div class="input-box underline">
                <input placeholder="Enter Your Password" type="password" name="password">
                <div class="underline"></div>
            </div>
            <a href="#" class="link">Forgot your password?</a>

            <div class="buttonsubmit">
                <button type="submit" value="Continue"> Continue </button>
            </div>
            <!--<a class="btn" href="../templates/register.html">Sign Up</a>-->
            <div class="btn">
                <a href="/register"><i class="fab fa-btn" ></i>Sign Up</a>
            </div>
        </form>
        
        <script src="main.js"></script>
    </div>
</body>
</html>