<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <form method="POST">
            <h1 class="title">Formulario de Registro</h1>
            <div class="input-box underline">
                <input placeholder="Ingrese sus Nombres" type="text" name="firstname">
                <div class="underline"></div>
            </div>
            <div class="input-box underline">
                <input placeholder="Ingrese sus Apellidos" type="text" name="lastname">
                <div class="underline"></div>
            </div>
            <div class="input-box underline">
                <input placeholder="Ingrese un Correo" type="text" name="email">
                <div class="underline"></div>
            </div>
            <div class="input-box underline">
                <input placeholder="Ingrese una Contraseña" type="password" name="password">
                <div class="underline"></div>
            </div>
            <div class="input-box button">
                <input type="submit" name="" value="Crear Cuenta">
            </div>
            <div class="btn">
                <a href="/login"><i class="fab fa-btn" ></i>Iniciar Sesión</a>
            </div>

        </form>
    </div>
    <script src="main.js"></script>
</body>
</html>